<ion-view view-title="Browse Properties">
  <ion-content>
    <ion-list id="matchedListings-list2">
      <ion-item class="item-thumbnail-left" id="matchedListings-list-item5" ui-sref="viewProperty">
        <img src="img/CSVpLFiKTOeqOHD3DpSx_276D-Jurong-West-Street-25-Boon-Lay-Jurong-Tuas-Singapore.jpg">
        <h2>276D Jurong West Street 25</h2>
        <p style="white-space:normal;">HDB, 99-year, 968 sqft, $366.74 psf, $355,000</p>
        <ion-option-button class="button-energized icon ion-star"></ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="matchedListings-list-item6" ui-sref="viewProperty">
        <img src="img/jKsJh3cMRhiKl828ac8h_431-Clementi-Avenue-3-Buona-Vista-West-Coast-Clementi-New-Town-Singapore.jpg">
        <h2>431 Clementi Avenue 3</h2>
        <p style="white-space:normal;">HDB, 99-year, 721 sqft, $499.31 psf, $360,000</p>
        <ion-option-button class="button-energized icon ion-star"></ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="matchedListings-list-item7" ui-sref="viewProperty">
        <img src="img/LEhBwMnSByYdbrYzLfXw_463-Ang-Mo-Kio-Avenue-10-Ang-Mo-Kio-Bishan-Thomson-Singapore.jpg">
        <h2>463 Ang Mo Kio Avenue 10</h2>
        <p style="white-space:normal;">HDB, 99-year, 731 sqft, $403.56 psf, $295,000</p>
        <ion-option-button class="button-energized icon ion-star"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
