<ion-view view-title="Browse Loans">
  <ion-content>
    <div class="list">
      <a class="item item-thumbnail-left">
        <img src="https://upload.wikimedia.org/wikipedia/en/7/72/Housing_and_Development_Board_(logo).png">
        <h2>HDB</h2>
        <p>${{ affordability1 | number }}</p>
        <p>Fixed</p>
        <p>2.60% p.a.</p>
      </a>
      <a class="item item-thumbnail-left">
        <img src="https://media.glassdoor.com/sqll/611812/dbs-bank-squarelogo.png">
        <h2>DBS</h2>
        <p>${{ affordability2 | number }}</p>
        <p>Fixed</p>
        <p>2.18% p.a.</p>
      </a>
      <a class="item item-thumbnail-left">
        <img src="https://tripzilla.sg/files/2278353.jpg">
        <h2>OCBC</h2>
        <p>${{ affordability3 | number }}</p>
        <p>Fixed</p>
        <p>2.22% p.a.</p>
      </a>
      <a class="item item-thumbnail-left">
        <img src="http://www.bigbang-promotions.com/images/cms/clients-8-1-large.jpg">
        <h2>HSBC</h2>
        <p>${{ affordability4 | number }}</p>
        <p>Fixed</p>
        <p>2.30% p.a.</p>
      </a>
    </div>
  </ion-content>
</ion-view>
