<ion-view view-title="Browse Loans">
  <ion-content>
    <div class="list">
      <a class="item item-thumbnail-left" href="#">
        <img src="https://upload.wikimedia.org/wikipedia/en/7/72/Housing_and_Development_Board_(logo).png">
        <h2>HDB</h2>
        <p>2.60% p.a.</p>
      </a>
      <a class="item item-thumbnail-left" href="#">
        <img src="https://media.glassdoor.com/sqll/611812/dbs-bank-squarelogo.png">
        <h2>DBS</h2>
        <p>2.18% p.a.</p>
      </a>
    </div>
  </ion-content>
</ion-view>
