<ion-header-bar class="bar-positive">
  <div class="buttons">
    <button class="button button-clear" ng-click="goBack()"><i class="ion-arrow-left-c"></i> Back</button>
  </div>
  <h1 class="title">My Appointments</h1>
</ion-header-bar>
<ion-content>
  <div class="list">
    <a class="item item-avatar" href="#" ng-repeat="appointment in appointments">
      <img ng-src="./img/{{branches[appointment.branch-2].branchname | bank}}.png">
      <h2>{{branches[appointment.branch-2].branchname}}</h2>
      <p>{{appointment.datetime | date: "dd MMMM yyyy hh:mm a"}}</p>
    </a>
  </div>
</ion-content>
