<ion-view view-title="Profile">
  <ion-content padding="true">
    <ion-list>
      <ion-item class="profile-item">
        <div class="profile-picture big-profile-picture">
          <img src="https://www.researchheroes.com/images/placeholder--user.png">
        </div>
        <h2 class="profile-name dark">John Smith</h2>
        <div class="profile-info">Affordability: $388,888</div>
      </ion-item>
    </ion-list>
    </br>
    <div class="list">
      <a class="item item-icon-left item-icon-right" ng-click="myAppts">
        <i class="icon  ion-ios-calendar-outline"></i> My Appointments
        <span class="badge badge-positive">0 {{appts.length}}</span>
      </a>
    </div>
    <h5 style="padding:5px; text-align:center;"><b>To help us serve you better, please take a few minutes to set up your profile so that we can match you with the best housing loans and properties.</b></h5>
    <button class="button button-block button-positive" ui-sref="setup">
      Set Up
    </button>
  </ion-content>
</ion-view>
