<ion-view view-title="Profile">
  <ion-content padding="true">
    <ion-list>
      <ion-item class="profile-item">
        <div class="profile-picture big-profile-picture">
          <img src="https://www.researchheroes.com/images/placeholder--user.png">
        </div>
        <h2 class="profile-name dark">John Smith</h2>
        <div class="profile-info">Affordability: $388,888</div>
      </ion-item>
    </ion-list>
    <h5><b>To help us serve you better, please take a few minutes to set up your profile so that we can match you with the best housing loans and properties.</b></h5>
    <button class="button button-block button-positive" ui-sref="setup">
      Set Up
    </button>
  </ion-content>
</ion-view>
