<ion-header-bar class="bar-stable">
  <h1 class="title">Report</h1>
</ion-header-bar>
<ion-content>
  <div class="list card">
    <a class="item item-divider">
      <b>Maximum Property Price</b>
      <span class="item-note" style="color: black;"><b>$576,003</b></span>
    </a>
  </div>

  <div class="list card">
    <a class="item item-divider">
      <b>Loan Amount</b>
      <span class="item-note" style="color: black;"><b>$460,802</b></span>
    </a>
    <div class="item item-text-wrap">
      Loan-to-Value
      <span class="item-note" style="color: black;">80%</span>
    </div>
  </div>

  <div class="list card">
    <a class="item item-divider">
      <b>Total Deposit</b>
      <span class="item-note" style="color: black;"><b>$115,201</b></span>
    </a>
    <div class="item item-text-wrap">
      Non-Cash Downpayment
      <span class="item-note" style="color: black;">$65,201</span>
    </div>
    <div class="item item-text-wrap">
      Cash Downpayment
      <span class="item-note" style="color: black;">$50,000</span>
    </div>
    <div class="item item-text-wrap">
      Cash Downpayment %
      <span class="item-note" style="color: black;">9%</span>
    </div>
  </div>

  <div class="list card">
    <a class="item item-divider">
      <b>Total Fees, Duties & Taxes</b>
      <span class="item-note" style="color: black;"><b>$14,799</b></span>
    </a>
    <div class="item item-text-wrap">
      Agent Fees
      <span class="item-note" style="color: black;">$0</span>
    </div>
    <div class="item item-text-wrap">
      Purchase Legal Fees
      <span class="item-note" style="color: black;">$1,728</span>
    </div>
    <div class="item item-text-wrap">
      Mortage Legal Fees
      <span class="item-note" style="color: black;">$691</span>
    </div>
    <div class="item item-text-wrap">
      Mortage Duty
      <span class="item-note" style="color: black;">$500</span>
    </div>
    <div class="item item-text-wrap">
      Buyer Stamp Duty
      <span class="item-note" style="color: black;">$11,880</span>
    </div>
    <div class="item item-text-wrap">
      Additional Buyer Stamp Duty
      <span class="item-note" style="color: black;">$0</span>
    </div>
  </div>
      <button class="button button-full button-positive" ui-sref="app.browse">Start Browsing</button>
</ion-content>
