<ion-view view-title="Schedule Appointment">
  <ion-content>
      <h5 style="padding:8px; text-align:center;"><b>Schedule a face-to-face appointment to speak with a banker from one of our participating banks to finalize your loan.</b></h5>
    <div class="list list-inset">
      <a class="item item-icon-left item-icon-right">
        <i class="icon ion-social-usd"></i>
        <h2>Bank</h2>
        <p>DBS</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right">
        <i class="icon ion-ios-navigate-outline"></i>
        <h2>Branch</h2>
        <p>Alexandra Branch</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right">
        <i class="icon ion-ios-calendar-outline"></i>
        <h2>Date</h2>
        <p>Today</p>
        <i class="icon ion-ios-arrow-right"></i>
    </a>
    <a class="item item-icon-left item-icon-right">
      <i class="icon ion-ios-time-outline"></i>
      <h2>Time</h2>
      <p>2:00 PM</p>
      <i class="icon ion-ios-arrow-right"></i>
    </a>
    </div>
        <button class="button button-full button-positive" ui-sref="">Confirm</button>
  </ion-content>
</ion-view>
